# Data Files
gophrase_words.txt
gophrase_words_all.txt
gophrase_words_alpha.txt

# Binary
main
gophrase
*.amd64
*.amd64.exe
binaries/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
.idea
*.iml
